

#passwordlength{
    color:#f00;
}

@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
 .ui-bar-a {
    border: 1px solid #ff5c5c;
    background: #fff;
    color: #000;
}
}